body {
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
}

.menu {
	width: 100%;
	background-color: #F2F2F2;

	text-align: center;
	text-decoration: none;
	padding: 2% 0%;

	display: flex;


}

.menu a {
	padding: 0% 2%;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: #202020;
	text-decoration: none;
	

}

.card {
	width: 600px;
	height: 250px;

	margin: 3%;

	text-align: left;
}

.card img {
	width: 100%;
}

.card:hover{

}


